<button class="icon-btn <%= locals.variant %>" data-ripple <%- locals.dataAttr %>>
    <span class="material-symbols-rounded icon">
        <%= locals.icon %>
    </span>
    <div class="state-layer"></div>
</button>