<div class="menu">
    <a href="/me" class="menu-item" data-ripple>
        <span class="label-large">Perfil</span>
        <div class="state-layer"></div>
    </a>
    <a href="/logout" class="menu-item" data-ripple>
        <span class="label-large">Sair</span>
        <div class="state-layer"></div>
    </a>
</div>