<div class="player-sm hide" data-player>
    <div class="track-info">
        <figure class="img-holder track-banner">
            <img src="" alt="" class="img-cover" data-track-banner>
        </figure>
        <div class="" style="min-width: 0;">
            <p class="title-small track-title ellipsis-one-line" data-track-name>
              
            <p class="title-small track-text ellipsis-one-line" data-track-artist>
                
            </p>
        </div>
    </div>
    <%- include('./play_btn',{dataAttr:'data-player-control-play'}) %>
    <progress class="progress" data-player-progress-sm>

    </progress>
    <button class="track-view-btn state-layer" aria-label="Tocando agora" data-modal-player-toggler></button>


</div>