<button class="icon-btn play-btn <%= locals.variant %>" data-play-btn="play" data-ripple <%- locals.dataAttr %> >
    <span class="material-symbols-rounded icon play-icon">
        play_arrow
    </span>
    <span class="material-symbols-rounded icon pause-icon">
        pause
    </span>
    <div class="state-layer"></div>
</button>