<div class="top-bar" data-top-bar>
    <%- include('./icon_btn.ejs',{icon:'chevron_left',variant:'filled-tonal',dataAttr:'data-back-btn'}) %>
    <%- include('./icon_btn.ejs',{icon:'chevron_right',variant:'filled-tonal',dataAttr:'data-forward-btn'}) %>
    <%- include('./search_bar.ejs',{display_name:locals.display_name,
    images:locals.images,
    query:locals.query}) %>
</div>