<footer class="footer section">
    <div class="has-separator">
        <a href="https://www.youtube.com" class="social-link" target="_blank">YouTube</a>
        <span class="separator"></span>
        <a href="https://instagram.com" class="social-link" target="_blank">Instagram</a>
        <span class="separator"></span>
        <a href="https://www.twitter.com" class="social-link" target="_blank">X</a>
        <span class="separator"></span>
        <a href="https://www.linkedin.com" class="social-link" target="_blank">LinkedIn</a>
    </div>
    <p class="footer-text body-medium">
        &copy; 2024 Musify. Desevolvido por Diego Vilhalva
    </p>
</footer>