<%
    const filterItems = [
        {
            filterType:'all',
            text:'Tudo'
        },
        {
            filterType:'albums',
            text:'Albums'
        },
        {
            filterType:'artists',
            text:'Artistas'
        },
        {
            filterType:'playlists',
            text:'Playlists'
        },
        {
            filterType:'tracks',
            text:'Músicas'
        },
    ];
 %> 

 <div class="filter-list" data-list-header>
        <% filterItems.forEach(({filterType,text}) => { %>
            <% if (locals.searchAll?.[filterType]?.total === 0) return %>
             
            <%- include('../partials/chip',{
                filterType,
                text,
                type:locals.type
            })%> 
      
        <% }) %>
 </div>


