
/**
 * copyright 2024 Diego Vilhalva
 */
 



 @import url('./variables.css');
 @import url('./reset.css');
 @import url('./base.css');
 @import url('./typography.css');

 
 :has(> .state-layer) {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    user-select: none;
    -webkit-user-select: none;
}

.state-layer {
    position: absolute;
    inset: 0;
    background-color: var(--state-layer-bg);
    opacity: 0;
    transition: opacity var(--tr-duration-short-2) var(--tr-easing-linear);
}

:has(> .state-layer):hover > .state-layer {
    opacity: 0.08;
}

:has(>,.state-layer):is(:focus,:focus-visible,:focus-within,:active){
    opacity: 0.12;
}

.btn {
    max-width: max-content;
    min-width: max-content;
    height: 40px;
    padding-inline: var(--space-4) var(--space-6);
    display: flex;
    align-items: center;
    gap: var(--space-2);
    border-radius: var(--radius-full);
    background-color: var(--primary);
    color: var(--on-primary);
    --state-layer-bg: var(--on-primary);
    transition: box-shadow var(--tr-duration-short-2) var(--tr-easing-linear);
}
  
.btn:hover:not(:focus) { box-shadow: var(--shadow-1); }
  

.error-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-7);
    text-align: center;
}

.error-page .text {
    margin-block-start: var(--space-2);
    opacity: 0.8;
    max-width: 24ch;
}


@media (min-width:768px) {
    .error-page {
        gap: var(--space-10);
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .error-page  .title {
        font-size: var(--fs-display-large);
        line-height: var(--lh-display-large);
        letter-spacing: var(--ls-n-024);
    }

    .error-page .text {
        max-width: unset;
        margin-block-start: var(--space-4);
    }
}