<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encotrada | Musify</title>
    <meta name="title" content="Login | Musify">
    <meta name="description" content="Musify é um app para ouvir,baixar e compartilhar sua musicas preferidas ">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
   <article class="error-page">
        <img src="/images/favicon.svg" width="48" height="48" alt="Musify logo" class="logo">
        <div>
            <h2 class="title display-small">Página não encontrada!</h2>
        </div>

        <p class="text body-large">
            Não foi possível encontrar nada do que você estava procurando
        </p>

        <a href="/" class="btn">
            <span class="label-large">
                Voltar a página inicial
            </span>
        </a>

   </article>
</body>
</html>