<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Musify</title>
    <meta name="title" content="Login | Musify">
    <meta name="description" content="Musify é um app para ouvir,baixar e compartilhar sua musicas preferidas ">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <article class="login-page">
        <div class="banner">
            <img src="/images/login-banner.jpg" alt="" width="1080" height="1080" class="img-cover">
        </div>
        <div class="content">
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="Musify logo" width="94" height="24">
            </a>
            <div class="wrapper">
                <h2 class="title headline-medium">
                   <strong> Entre</strong> e embarque em uma incrível jornada musical!
                </h2>
                <a href="/auth" class="btn btn-primary has-icon" data-ripple>
                    <img src="/images/spotify-on-primary.svg" width="18" height="18" alt="">
                    <span class="label-large">Entrar com Spotify</span>
                </a>
            </div>
            <p class="bottom-text label-large">
                Powered by <a href="https://www.spotify.com" target="_blank" class="link link-primary">Spotify
                </p></a>

        </div>
    </article>

</body>
</html>